@use '@colors' as *;

.trainersCards {
	width: calc(100% - 200px);
	padding: 20px;
	margin: 0 auto;
}

.emblaContainer {
	display: flex;
	gap: 20px;
	user-select: none;
}

.emblaSlide {
	flex: 0 0 calc(50% - 10px);
	position: relative;
}

.slideContent {
	background: $bgSecondary;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

.trainerImage {
	max-width: 300px;
	height: auto;
	border-radius: 999px;
	margin: 10px 0;
}

.trainerData {
	text-align: start;
}

.loadingDiv {
	display: flex;
	justify-content: center;
}
.reportsDiv {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.buttonDiv {
	margin-top: 5px;

	button {
		padding: 2px 6px;
	}
}

@media (min-width: 1300px) {
	.emblaSlide {
		flex: 0 0 calc(33% - 10px);
	}
}
@media (max-width: 950px) {
	.emblaSlide {
		flex: 0 0 100%;
	}
}
@media (max-width: 768px) {
	.trainersCards {
		width: calc(100% - 100px);
	}
}
@media (max-width: 490px) {
	.trainersCards {
		width: calc(100% - 50px);
	}
	.slideContent {
		padding: 20px 15px;
	}
	.trainerImage {
		max-width: 280px;
	}
}
@media (max-width: 400px) {
	.trainersCards {
		width: 100%;
	}
	.slideContent {
		padding: 20px 10px;
		height: 502px;
	}
	.trainerImage {
		max-width: 260px;
	}
}
