@use '@colors' as *;

.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	padding: 20px 0;
	min-height: calc(100vh - 140px);
}
.notATrainerDiv,
.trainerDiv,
.infoHeader {
	width: 400px;
	background-color: $bgSecondary;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 15px;

	padding: 20px;
	border-radius: 20px;
	border: 2px solid $border;

	button {
		padding: 7.5px 15px;
	}
}
.infoHeader {
	display: flex;
	flex-direction: column;
	h2 {
		font-size: 30px;
	}
	p {
		font-size: 20px;
	}
}
.trainerImage {
	max-width: 300px;
	height: auto;
	border-radius: 999px;
	margin: 10px 0;
}
@media (max-width: 500px) {
	.trainerDiv {
		width: 300px;
	}
}
