@use '@colors' as *;

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: calc(100vh - 140px);

	h1 {
		font-size: 44px;
		margin-top: 10px;
	}
}

.cardContainer {
	background-color: $bgSecondary;
	border: 2px solid $border;
	border-radius: 20px;

	margin: 20px auto;
	padding: 10px;
	max-width: 90vw;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	background-color: $bgPrimary;
	border: 2px solid $border;
	border-radius: 10px;

	margin: 10px;
	padding: 10px;

	height: 350px;
	width: 250px;
}
